body{
  background-color: white;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

h1{
  background-color: black;
  color: darkred;
  padding: 30px;
  font-size: 50px;
  border-radius: 10px;
}

h3{
  margin: -10px;
  position: relative;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px;
  
}

p{
  font-size: 20px;
  color: black;
  background-color: saddlebrown;
  padding: 30px;
  border-radius: 10px;
  /* width: fit-content; */
}

ul{
  list-style-type: none;
  padding: 10px;
}

li{
  margin-bottom: 20px;
}


#partyEvents{
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 20px;
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
}


button{
  color: black;
  background-color: lightgray;
  padding: 10px;
  border-radius: 20px;
}

button:hover{
  transition: 1s;
  transform: rotate(2deg);
  box-shadow: 0 0 20px 5px darkred;
}

#description{
  width: 200px;
  height: 75px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#events{
  padding: 20px;
  color: saddlebrown;
}


